@import "susy";
@import "vars";

$fa-font-path: "../bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

* {
  @include box-sizing(border-box);
}

// typography, colours and form elements
body {
  font-family: 'proxima-nova', 'helvetica neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: $darkGrey;
  color: $darkGrey;
  line-height: 1.6em;
}

.content {
  background: #fff;
}

p {
  margin: 0.8em 0;
}

code {
  font-weight: 700;
}

input {
  -webkit-font-smoothing: antialiased;

  &[type="text"] {
    border: 2px solid $lightGrey;

    &:focus {
      border-color: $pink;
      outline: none;
    }
  }
}

a {
  text-decoration: none;
  font-weight: 700;
  color: $pink;

  &:hover {
    text-decoration: underline;
  }
}

// layout sections
.container {
  max-width: 960px;
  margin: 0 auto;
  @include pie-clearfix;
  padding: 0 15px;
}

section {
  padding: 0.2em 0;

  &:first-child {
    padding-top: 0.5em;
  }
  
  &:last-child {
    padding-bottom: 1em;
  }
}

// helpers
.hidden-small {
  display: none;
}

.browsehappy {
  background: $pink;
  padding: 10px;
  color: #fff;

  a {
    color: #fff;
  }
}


// theme
// header
.header-primary {
  background: $darkGrey;

  .logo-section {
    padding: 8px 0;

    img {
      @include span-columns(1,4);
    }

    h1 {
      margin: 0;
      @include span-columns(3 omega,4);
      font-size: 1.3em;
      color: #fff;
      line-height: 1.3em;

      span {
        display: block;
        font-weight: 400;
        font-size: 0.7em;
      }
    }
  }
}

// navigation
.nav-primary {
  margin-top: 0.8em;
  @include span-columns(12,12);
  font-size: 0.9em;
  
  ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      @include span-columns(4,12);
      @include nth-omega(3n);
    }
  }

  a {
    color: #fff;
    padding: 0.5em 0 1em;
    display: block;
    border-top: 3px solid $darkGrey;
  
    &.active {
      color: $darkGrey;
      background: #fff;
      border-color: $pink;
    }

    &:hover {
      text-decoration: none;
      background: lighten($darkGrey,5%);

      &.active {
        background: #fff;
      }
    }
  }
}

// skill search
.search-section {
  position: relative;
  margin: 1.5em 0;

  i.fa {
    position: absolute;
    color: $lightGrey;
    top: 0.7em;
    left: 1em;
  }

  input {
    width: 100%;
    padding: 5px 5px 5px 2em;
    font-size: 1.3em;
    color: $darkGrey;
  }
}

// skills
.skills {
  font-size: 0.9em;
  text-align: center;
  list-style: none;
  padding: 0;
  font-weight: 700;

  li {
    background: $pink;
    color: #fff;
    display: inline-block;
    padding: 3px 5px;
    margin: 2px;
    border-radius: 3px;

    i.fa {
      font-size: 1.1em;
      margin-right: 3px;
    }

    &:hover {
      background: lighten($pink,5%);
      cursor: default;
    }
  }
}

// social media icons
.social {
  font-size: 1.1em;
  margin: 1em 0;
  @include pie-clearfix;

  a {
    margin: 0.5em 0;
    display: block;
    color: lighten($darkGrey,20%);

    i.fa {
      margin-right: 5px;
    }

    &:hover {
      text-decoration: none;
      color: $pink;
    }
  }
}

// footer
.footer-main {
  padding: 1.5em 0;
  color: $lightGrey;

  a {
    color: #fff;

    &:hover {
      color: lighten($pink,5%);
    }
  }
}

// Desktop styles
@media screen and (min-width: 768px) {
  @import "desktop.scss";
}


// Less than IE 9
.lt-ie9 {
  // desktop styles for IE
  @import "desktop.scss";
  
  .container {
    width: 960px;
  }

}