<div class="container">
  <section>
    <h1>Open-source contributions</h1>
    <p>
      Here are some select Github projects I've contributed to the community.
    </p>
  </section>
  
  <section>
    <a href="https://github.com/tinacious/goalProgress" github-repo></a>
    <a href="https://github.com/tinacious/tinaciousFluidVid" github-repo></a>
    <a href="https://github.com/tinacious/salary-hourly-calculator" github-repo></a>
    <a href="https://github.com/tinacious/angular-tip-calc-bill-split" github-repo></a>
    <a href="https://github.com/tinacious/textShrinkGrow" github-repo></a>
    <a href="https://github.com/tinacious/shrinkList" github-repo></a>
    <a href="https://github.com/tinacious/citizens-connected-theme" github-repo></a>
  </section>
</div> <!--// .container -->